<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Melody Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<script src="js/bootstrap.min.js"></script>
<link href="css/font-awesome.css" rel="stylesheet"> 
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Open+Sans+Condensed:300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!------ light-box-script ----->
<script src="js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript" charset="utf-8">
	$(function() {
		$('.about-grid a').Chocolat({linkImages:false});
	});
</script>
<!------ light-box-script ----->        
</head>
<body>
 <div class="banner">
 	<!-- start search-->
			<div class="search-box">
			   <div id="sb-search" class="sb-search">
				  <form>
					 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
					 <input class="sb-search-submit" type="submit" value="">
					 <span class="sb-icon-search"> </span>
				  </form>
			    </div>
			 </div>
			 <!----search-scripts---->
			 <script src="js/classie.js"></script>
			 <script src="js/uisearch.js"></script>
			   <script>
				 new UISearch( document.getElementById( 'sb-search' ) );
			   </script>
				<!----//search-scripts---->
		   <div class="header_bottom">
		   	<div class="container">
      		  <div class="logo">
				<h2><a href="index.html">Melody</a></h2>
			  </div>
			 <nav class="navbar navbar-default menu" role="navigation"><h3 class="nav_right"><a href="index.html">Melody</a></h3>
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav menu1">
			      	<li class="active"><a href="index.html">Home</a></li>
			        <li><a href="about.html">About <i class="menu-border"></i></a></li>
			        <li><a href="album.html">Album</a></li>
			        <li><a href="artists.html">Artists</a></li>
			        <li><a href="typography.html">Gallery</a></li>
			        <li><a href="contact.html">Contact</a></li>
			      </ul>
			   </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
            <div class="clearfix"></div>
		 </div>  
       </div>
</div>
<div class="main">
	    <div class="about_grid1">
	      <div class="container">
	      	<div class="col-md-6 row_1">
	      		<h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h1>
	      		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
	      		<img src="images/pic1.jpg" class="img-responsive" alt=""/>
	      	</div>
	      	<div class="col-md-6 row_2">
	      		<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences.</p>
	      		<p class="para">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt </p>
	      		<h2><span class="m_2">Who</span> we are</h2>
	      		<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue;</p>
	      	    <ul class="marked-list">
                    <li> Morbi nunc odio, gravida at cursus nec</li>
                    <li> Maecenas tristique orci ac sem</li>
                    <li> Duis ultricies pharetra magna donec</li>
                </ul>
	      	</div>
	      	<div class="clearfix"> </div>
	      </div>
	    </div>
	    <div class="about_grid2">
	        <div class="container">
			  <h2 class="tz-title-2">Testimonials</h2>
			    <div class="col-sm-3 row_2"> 
				   <p><a href="#">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</a></p>
				   <h4>like Aldus</h4>  
				   <a class="test-url" href="http://demolink.org">http://demolink.org</a>
				</div>
				<div class="col-sm-3 row_2"> 
				   <p><a href="#">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</a></p>
				   <h4>like Aldus</h4>  
				   <a class="test-url" href="http://demolink.org">http://demolink.org</a>
				</div>
				<div class="col-sm-3 row_2"> 
				   <p><a href="#">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</a></p>
				   <h4>like Aldus</h4>  
				   <a class="test-url" href="http://demolink.org">http://demolink.org</a>
				</div>
				<div class="col-sm-3 row_2"> 
				   <p><a href="#">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</a></p>
				   <h4>like Aldus</h4>  
				   <a class="test-url" href="http://demolink.org">http://demolink.org</a>
				</div>
				<div class="clearfix"> </div>
				<div class="but1"> <a href="#" class="btn btn-primary btn2 btn-normal btn-inline " target="_self">More Testimonials</a></div>
			</div>
	     </div>
         <div class="about_grid1">
   	        <h2 class="tz-title-2">Meet Us</h2>
		     <div class="container"> 
		           <div class="about-grids">
						<div class="col-sm-3 about-grid">
							<a href="images/pic3.jpg" title="name" rel="title2">
						    <div class="view view-first">
                              <img src="images/pic3.jpg" class="img-responsive" alt=""/>
                            </div>
							</a>
							<h3><a href="#">Duis autem</a></h3>
							<p class="service_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                            <a href="#" class="btn_2" title="Lewis Tompson">more</a>						
						</div>
						<div class="col-sm-3 about-grid">
							<a href="images/pic4.jpg" title="name" rel="title2">
						    <div class="view view-first">
                              <img src="images/pic4.jpg" class="img-responsive" alt=""/>
                            </div>
							</a>
							<h3><a href="#">Duis autem</a></h3>
							<p class="service_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
						    <a href="#" class="btn_2" title="Lewis Tompson">more</a>
						</div>
						<div class="col-sm-3 about-grid">
							<a href="images/pic5.jpg" title="name" rel="title2">
						    <div class="view view-first">
                              <img src="images/pic5.jpg" class="img-responsive" alt=""/>
                            </div>
							</a>
							<h3><a href="#">Duis autem</a></h3>
							<p class="service_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
						    <a href="#" class="btn_2" title="Lewis Tompson">more</a>
						</div>
						<div class="col-sm-3 about-grid">
							<a href="images/pic6.jpg" title="name" rel="title2">
						    <div class="view view-first">
                              <img src="images/pic6.jpg" class="img-responsive" alt=""/>
                            </div>
							</a>
							<h3><a href="#">Duis autem</a></h3>
							<p class="service_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
						    <a href="#" class="btn_2" title="Lewis Tompson">more</a>
						</div>
				        <div class="clearfix"> </div>
	             </div>
	          </div>
	       </div>
           <div class="footer">
           	 <div class="container">
           	 	<div class="footer-grid">
					<h3>Explore More</h3>
					<ul class="list1">
						  <li><a href="#">Our History</a></li>
						  <li><a href="#">All Albums</a></li>
						  <li><a href="#">Browse Events</a></li>
						  <li><a href="#">Products</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Information</h3>
					<ul class="list1">
						  <li><a href="#">Galleries</a></li>
						  <li><a href="#">Events Archive</a></li>
						  <li><a href="#">Events Albums</a></li>
						  <li><a href="#">Tour Videos</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>My Account</h3>
					<ul class="list1">
						  <li><a href="#">My account</a></li>
						  <li><a href="#">Personal Information</a></li>
						  <li><a href="#">Addresses</a></li>
						  <li><a href="#">Discount</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Follow Us</h3>
					<ul class="social">
					  <li><a href=""><i class="fa fa-facebook"> </i></a></li>
					  <li><a href=""><i class="fa fa-twitter"> </i></a></li>
					  <li><a href=""><i class="fa fa-pinterest"> </i></a></li>
					  <li><a href=""><i class="fa fa-google-plus"> </i></a></li>
					</ul>
				    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
				</div>
				<div class="footer-grid last_grid">
					<h4>Subscribe to our Newsletter</h4>
					<form>
						<input type="text" value="Your Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email Address';}">
						<input type="submit" value="Go">
					</form>
					<h5>Call Team<br>Ipsum available</h5>
					<h6>1.800.258.2578</h6>
				</div>
           	 </div>
           </div> 
           <div class="footer_bottom">
           	<div class="container">
           		<p class="copy">Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
           	</div>
		   </div>   
        </div>
</body>
</html>		