<!DOCTYPE HTML>
<html>
<head>
<title>Album</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Melody Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<script src="js/bootstrap.min.js"></script>
<link href="css/font-awesome.css" rel="stylesheet"> 
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Open+Sans+Condensed:300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 </head>
<body>
 <div class="banner">
 	<!-- start search-->
			<div class="search-box">
			   <div id="sb-search" class="sb-search">
				  <form>
					 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
					 <input class="sb-search-submit" type="submit" value="">
					 <span class="sb-icon-search"> </span>
				  </form>
			    </div>
			 </div>
			 <!----search-scripts---->
			 <script src="js/classie.js"></script>
			 <script src="js/uisearch.js"></script>
			   <script>
				 new UISearch( document.getElementById( 'sb-search' ) );
			   </script>
				<!----//search-scripts---->
		   <div class="header_bottom">
		   	<div class="container">
      		  <div class="logo">
				<h2><a href="index.html">Melody</a></h2>
			  </div>
			 <nav class="navbar navbar-default menu" role="navigation"><h3 class="nav_right"><a href="index.html">Melody</a></h3>
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav menu1">
			      	<li class="active"><a href="index.html">Home</a></li>
			        <li><a href="about.html">About</a></li>
			        <li><a href="album.html">Album <i class="menu-border"></i></a></li>
			        <li><a href="artists.html">Artists</a></li>
			        <li><a href="typography.html">Gallery</a></li>
			        <li><a href="contact.html">Contact</a></li>
			      </ul>
			   </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
            <div class="clearfix"></div>
		 </div>  
       </div>
</div>
<div class="main">
	    <div class="about_grid1">
	      <div class="container">
	      	<div class="album_1">
		      	<div class="col-md-4 album_5">
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	  <img src="images/pic7.jpg" class="img-responsive" alt=""/>
		      	   </div>
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	 <h3><a href="#">album name</a></h3>
	                 <p>Type: live</p>
		      	   	 <p>Format: cd</p>
		      	   	 <p>Label: atque corrupti</p>
		      	   	 <p>Release date: 10.07.2015</p>
		      	   </div>
		      	   <div class="clearfix"> </div>
		      	   <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
		      	</div>
		      	<div class="col-md-4 album_5">
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	  <img src="images/pic8.jpg" class="img-responsive" alt=""/>
		      	   </div>
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	 <h3><a href="#">album name</a></h3>
	                 <p>Type: live</p>
		      	   	 <p>Format: cd</p>
		      	   	 <p>Label: blanditiis</p>
		      	   	 <p>Release date: 08.07.2015</p>
		      	   </div>
		      	   <div class="clearfix"> </div>
		      	   <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
		      	</div>
		      	<div class="col-md-4 album_5">
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	  <img src="images/pic9.jpg" class="img-responsive" alt=""/>
		      	   </div>
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	 <h3><a href="#">album name</a></h3>
	                 <p>Type: live</p>
		      	   	 <p>Format: cd</p>
		      	   	 <p>Label: voluptatum</p>
		      	   	 <p>Release date: 06.10.2015</p>
		      	   </div>
		      	   <div class="clearfix"> </div>
		      	   <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
		      	</div>
		      	<div class="clearfix"> </div>
		     </div>
		     <div class="album_3">
		      	<div class="col-md-4 album_5">
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	  <img src="images/pic10.jpg" class="img-responsive" alt=""/>
		      	   </div>
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	 <h3><a href="#">album name</a></h3>
	                 <p>Type: live</p>
		      	   	 <p>Format: cd</p>
		      	   	 <p>Label: qui blanditiis</p>
		      	   	 <p>Release date: 07.09.2015</p>
		      	   </div>
		      	   <div class="clearfix"> </div>
		      	   <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
		      	</div>
		      	<div class="col-md-4 album_5">
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	  <img src="images/pic11.jpg" class="img-responsive" alt=""/>
		      	   </div>
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	 <h3><a href="#">album name</a></h3>
	                 <p>Type: live</p>
		      	   	 <p>Format: cd</p>
		      	   	 <p>Label: At vero</p>
		      	   	 <p>Release date: 06.09.2015</p>
		      	   </div>
		      	   <div class="clearfix"> </div>
		      	   <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
		      	</div>
		      	<div class="col-md-4 album_6">
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	  <img src="images/pic12.jpg" class="img-responsive" alt=""/>
		      	   </div>
		      	   <div class="col_1_of_2 span_1_of_2">
		      	   	 <h3><a href="#">album name</a></h3>
	                 <p>Type: live</p>
		      	   	 <p>Format: cd</p>
		      	   	 <p>Label: Many desktop</p>
		      	   	 <p>Release date: 06.08.2015</p>
		      	   </div>
		      	   <div class="clearfix"> </div>
		      	   <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
		      	</div>
		      	<div class="clearfix"> </div>
		     </div>
		     <div class="album_2">
		     	  <div class="col-md-4 album_5">
		     		    <ul class="music-list">
		     		       <h3>Track Listing</h3>
                            <li class="skin1">
                            	<a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                There are variation
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                anything embarrassing
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                Lorem Ipsum
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                looks reasonable
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                Praesent Vestibulum
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                English versions
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                craesent Vestibulum
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                traesent Vestibulum
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                fraesent Vestibulum
                            </li>
                      </ul>
		     	</div>
		     	<div class="col-md-4 album_5">
		     		    <ul class="music-list">
		     		       <h3>Track Listing</h3>
                            <li class="skin1">
                            	<a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                graesent Vestibulum
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                traesent Vestibulum
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                Praesent Vestibulum
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                Praesent Vestibulum
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                therefore always
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                The standard
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                handful of model 
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                Praesent Vestibulum
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                Ipsum passage
                            </li>
                      </ul>
		     	</div>
		     	<div class="col-md-4 album_6">
		     		    <ul class="music-list">
		     		       <h3>Track Listing</h3>
                            <li class="skin1">
                            	<a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                embarrassing hidden 
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                non-characteristic
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                Sed ut perspiciatis
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                But I must explain 
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                At vero eos et
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                On the other hand
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                Praesent Vestibulum
                            </li>
                            <li class="skin2">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                 righteous indignation 
                            </li>
                            <li class="skin1">
                                <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                                <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                                Praesent Vestibulum
                            </li>
                      </ul>
		     	</div>
		     	<div class="clearfix"> </div>
		     </div>
	      </div>
	    </div>
	    <div class="footer">
           	 <div class="container">
           	 	<div class="footer-grid">
					<h3>Explore More</h3>
					<ul class="list1">
						  <li><a href="#">Our History</a></li>
						  <li><a href="#">All Albums</a></li>
						  <li><a href="#">Browse Events</a></li>
						  <li><a href="#">Products</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Information</h3>
					<ul class="list1">
						  <li><a href="#">Galleries</a></li>
						  <li><a href="#">Events Archive</a></li>
						  <li><a href="#">Events Albums</a></li>
						  <li><a href="#">Tour Videos</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>My Account</h3>
					<ul class="list1">
						  <li><a href="#">My account</a></li>
						  <li><a href="#">Personal Information</a></li>
						  <li><a href="#">Addresses</a></li>
						  <li><a href="#">Discount</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Follow Us</h3>
					<ul class="social">
					  <li><a href=""><i class="fa fa-facebook"> </i></a></li>
					  <li><a href=""><i class="fa fa-twitter"> </i></a></li>
					  <li><a href=""><i class="fa fa-pinterest"> </i></a></li>
					  <li><a href=""><i class="fa fa-google-plus"> </i></a></li>
					</ul>
				    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
				</div>
				<div class="footer-grid last_grid">
					<h4>Subscribe to our Newsletter</h4>
					<form>
						<input type="text" value="Your Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email Address';}">
						<input type="submit" value="Go">
					</form>
					<h5>Call Team<br>Ipsum available</h5>
					<h6>1.800.258.2578</h6>
				</div>
           	 </div>
           </div> 
           <div class="footer_bottom">
           	<div class="container">
           		<p class="copy">Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
           	</div>
		   </div>   
        </div>
</body>
</html>		