<!DOCTYPE HTML>
<html>
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Melody Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<script src="js/bootstrap.min.js"></script>
<link href="css/font-awesome.css" rel="stylesheet"> 
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Open+Sans+Condensed:300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
</head>
<body>
 <div class="banner">
 	<!-- start search-->
			<div class="search-box">
			   <div id="sb-search" class="sb-search">
				  <form>
					 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
					 <input class="sb-search-submit" type="submit" value="">
					 <span class="sb-icon-search"> </span>
				  </form>
			    </div>
			 </div>
			 <!----search-scripts---->
			 <script src="js/classie.js"></script>
			 <script src="js/uisearch.js"></script>
			   <script>
				 new UISearch( document.getElementById( 'sb-search' ) );
			   </script>
				<!----//search-scripts---->
		   <div class="header_bottom">
		   	<div class="container">
      		  <div class="logo">
				<h2><a href="index.html">Melody</a></h2>
			  </div>
			 <nav class="navbar navbar-default menu" role="navigation"><h3 class="nav_right"><a href="index.html">Melody</a></h3>
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav menu1">
			      	<li class="active"><a href="index.html">Home</a></li>
			        <li><a href="about.html">About</a></li>
			        <li><a href="album.html">Album</a></li>
			        <li><a href="artists.html">Artists</a></li>
			        <li><a href="typography.html">Gallery</a></li>
			        <li><a href="contact.html">Contact<i class="menu-border"></i></a></li>
			      </ul>
			   </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
            <div class="clearfix"></div>
		 </div>  
       </div>
</div>
<div class="about_grid1">
    <div class="container">
      <div class="col-md-6 contact_grid">
      	<div class="contact-form">
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			    <form>
			    	<div>
				    	<span><label>Name</label></span>
				    	<span><input name="userName" type="text" class="textbox"></span>
				    </div>
				    <div>
				    	<span><label>E-Mail</label></span>
				    	<span><input name="userEmail" type="text" class="textbox"></span>
				    </div>
				    <div>
				     	<span><label>Subject</label></span>
				    	<span><input name="userPhone" type="text" class="textbox"></span>
				    </div>
				    <div>
				    	<span><label>Message</label></span>
				    	<span><textarea name="userMsg"> </textarea></span>
				    </div>
				   <div>
				   		<span><input type="submit" value="Submit"></span>
				  </div>
			  </form>
		</div>
      </div>
      <div class="col-md-6 contact_grid">
      	<h4 class="contact-head">We are here</h4>
      	<div class="map">
		  <div class="map-border"><iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px"></a></small></div>
		</div>
		<div class="company_address">
	     	<h3>Company Information : </h3>
			    	<p>500 Lorem Ipsum Dolor Sit,</p>
			   		<p>22-56-2-9 Sit Amet, Lorem,</p>
			   		<p>USA</p>
	   		<p>Phone : (00) 222 666 444</p>
	   		<p>Fax : (000) 000 00 00 0</p>
	 	 	<p>Email : <span>info[at]melody.com</span></p>
	    </div>
      </div>
      <div class="clearfix"> </div>
    </div>
</div>
	    <div class="footer">
           	 <div class="container">
           	 	<div class="footer-grid">
					<h3>Explore More</h3>
					<ul class="list1">
						  <li><a href="#">Our History</a></li>
						  <li><a href="#">All Albums</a></li>
						  <li><a href="#">Browse Events</a></li>
						  <li><a href="#">Products</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Information</h3>
					<ul class="list1">
						  <li><a href="#">Galleries</a></li>
						  <li><a href="#">Events Archive</a></li>
						  <li><a href="#">Events Albums</a></li>
						  <li><a href="#">Tour Videos</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>My Account</h3>
					<ul class="list1">
						  <li><a href="#">My account</a></li>
						  <li><a href="#">Personal Information</a></li>
						  <li><a href="#">Addresses</a></li>
						  <li><a href="#">Discount</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Follow Us</h3>
					<ul class="social">
					  <li><a href=""><i class="fa fa-facebook"> </i></a></li>
					  <li><a href=""><i class="fa fa-twitter"> </i></a></li>
					  <li><a href=""><i class="fa fa-pinterest"> </i></a></li>
					  <li><a href=""><i class="fa fa-google-plus"> </i></a></li>
					</ul>
				    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
				</div>
				<div class="footer-grid last_grid">
					<h4>Subscribe to our Newsletter</h4>
					<form>
						<input type="text" value="Your Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email Address';}">
						<input type="submit" value="Go">
					</form>
					<h5>Call Team<br>Ipsum available</h5>
					<h6>1.800.258.2578</h6>
				</div>
           	 </div>
           </div> 
           <div class="footer_bottom">
           	 <div class="container">
           		<p class="copy">Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
           	 </div>
		   </div>   
</body>
</html>		