<!DOCTYPE HTML>
<html>
<head>
#title#
#message#
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Melody Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<script src="js/bootstrap.min.js"></script>
<link href="css/font-awesome.css" rel="stylesheet"> 
<!--webfont-->
<link href='http://fonts.useso.com/css?family=Open+Sans+Condensed:300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<script type="text/javascript">
console.log("cool!");</script>
</head>
<body>
 <div class="banner">
 	<!-- start search-->
			<div class="search-box">
			   <div id="sb-search" class="sb-search">
				  <form>
					 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
					 <input class="sb-search-submit" type="submit" value="">
					 <span class="sb-icon-search"> </span>
				  </form>
			    </div>
			 </div>
			 <!----search-scripts---->
			 <script src="js/classie.js"></script>
			 <script src="js/uisearch.js"></script>
			   <script>
				 new UISearch( document.getElementById( 'sb-search' ) );
			   </script>
				<!----//search-scripts---->
				<div class="container">
					<div class="banner-info">
						<h1>Play</h1>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br>euismod tincidunt ut . </p>
				    </div>
					 <div class="clearfix"></div>
			   </div>
		   <div class="header_bottom">
		   	<div class="container">
      		  <div class="logo">
				<h2><a href="index.html">Melody</a></h2>
			  </div>
			 <nav class="navbar navbar-default menu" role="navigation"><h3 class="nav_right"><a href="index.html">Melody</a></h3>
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav menu1">
			      	<li class="active"><a href="index.html">Home<i class="menu-border"></i></a></li>
			        <li><a href="about.html">About</a></li>
			        <li><a href="album.html">Album</a></li>
			        <li><a href="artists.html">Artists</a></li>
			        <li><a href="typography.html">Gallery</a></li>
			        <li><a href="contact.html">Contact</a></li>
			      </ul>
			   </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
            <div class="clearfix"></div>
		 </div>  
       </div>
</div>
<div class="main">
	       <div class="row content_top">
			  <div class="col-md-3 col3">
			     <div class="wrap_banner">
			        <a href="#" class="fa-btn btn-1 btn-1e">Buy Tickets</a>
				    <p>Nam liber tempor <br>cum soluta nobis eleifend</p>
				 </div>
			  </div>
			  <div class="col-md-6 col6">
				<div class="wrap_banner1">
			        <h3>Exclusive<br>Lorem Ipsum is simply dummy text </h3>
				    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamu</p>
				 </div>
			  </div>
			  <div class="col-md-3 colast">
				<div class="wrap_banner2">
			        <a href="#" class="fa-btn btn-1 btn-1e con_but">More Details</a>
				    <p>Ut wisi enim ad<br> minim veniam, quis nostru</p>
				 </div>
			  </div>
			</div>
			<div class="bottom-grids">
			  <div class="col-md-4 col4">
           	  	<a href="#"><div class="bottom-grid1">
				<span>
					<div class="blur">
					  <p class="sales">$119.50</p>
					  <p class="ban1_text1">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
					</div>
					<i class="fa fa-microphone-slash icon_2"></i>
					<div class="clearfix"> </div>
				 </span>
				</div></a>
				<a href="#"><div class="bottom-left-grid2">
					<span>
					<div class="blur">
					  <p class="sales">$109.50</p>
					  <p class="ban1_text1">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
					</div>
					<i class="fa fa-microphone-slash icon_2"></i>
					<div class="clearfix"> </div>
				    </span>
				 </div></a>
				 <div class="feature_bg">
					<i class="fa fa-heart icon_1"></i>
					<div class="clearfix"> </div>
					<div class="service">
					   <h3>Services</h3>
					   <p> Eodem modo typi, qui nunc nobis videntur.</p>
					</div>	
			     </div>
			     <div class="extra_wrap">
			       <div class="extra_wrap1">
			     	<ul class="gift span5">
			     		<i class="fa fa-thumbs-o-up icon_3"></i>
			     		<li class="gift_desc">
			     			<h4><a href="#">Full Support</a></h4>
			     			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
			     		</li>
			     		<div class="clearfix"></div>
			     	</ul>
			     	<ul class="gift">
			     		<i class="fa fa-calendar-o icon_3"></i>
			     		<li class="gift_desc">
			     			<h4><a href="#">Give us your Feedback</a></h4>
			     			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
			     		</li>
			     		<div class="clearfix"></div>
			     	</ul>
			     	<div class="clearfix"></div>
			       </div>
			     	<div class="but_service">
			     	  <a href="#" class="btnc btn-c btn-1c">View All Services</a>
			     	</div>
			     </div>
           	   </div>
           	   <div class="col-md-4 bottom-grid2 ">
           	  	<div class="bottom-grid2 bottom-mid">
				  <div class="feature_bg">
					<i class="fa fa-frown-o icon_1"></i>
					<div class="clearfix"> </div>
					<div class="feature">
					   <h2>Featured<br>Music Dates</h2>
					   <p> Eodem modo typi, qui nunc nobis videntur.</p>
					</div>	
				  </div>
				  <div class="products">
				  	<div class="product_top">
				  		<ul class="product_title titlelast">
				  		   <li class="s_head"><h3>There<br> variations<br> many</h3><br><p>It is a long</p></li>
				  		   <li class="s_cart"><p class="price">08 June</p>
				  		      <a href="#" class="fa-btn1 btn-2 btn-1e1">Read more</a>
				  		   </li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	    <ul class="product_title">
				  		   <li class="s_head"><img src="images/audio.png" class="img-responsive" alt=""/></li>
				  		   <li class="s_cart"><p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p></li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	  </div>
				  	  <div class="product_top">
				  		<ul class="product_title titlelast">
				  		   <li class="s_head"><h3>There<br> variations<br> many</h3><br><p>It is a long</p></li>
				  		   <li class="s_cart"><p class="price">08 June</p>
				  		      <a href="#" class="fa-btn1 btn-2 btn-1e1">Read more</a>
				  		   </li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	    <ul class="product_title">
				  		   <li class="s_head"><img src="images/headphones.png" class="img-responsive" alt=""/></li>
				  		   <li class="s_cart"><p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p></li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	  </div>
				  	  <div class="product_top">
				  		<ul class="product_title titlelast">
				  		   <li class="s_head"><h3>There<br> variations<br> many</h3><br><p>It is a long</p></li>
				  		   <li class="s_cart"><p class="price">08 June</p>
				  		      <a href="#" class="fa-btn1 btn-2 btn-1e1">Read more</a>
				  		   </li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	    <ul class="product_title">
				  		   <li class="s_head"><img src="images/mic.png" class="img-responsive" alt=""/></li>
				  		   <li class="s_cart"><p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p></li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	  </div>
				  	  <div class="product_top">
				  		<ul class="product_title titlelast">
				  		   <li class="s_head"><h3>There<br> variations<br> many</h3><br><p>It is a long</p></li>
				  		   <li class="s_cart"><p class="price">08 June</p>
				  		      <a href="#" class="fa-btn1 btn-2 btn-1e1">Read more</a>
				  		   </li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	    <ul class="product_title">
				  		   <li class="s_head"><img src="images/stream.png" class="img-responsive" alt=""/></li>
				  		   <li class="s_cart"><p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p></li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	  </div>
				  	  <div class="product_top product_grid">
				  		<ul class="product_title titlelast">
				  		   <li class="s_head"><h3>There<br> variations<br> many</h3><br><p>It is a long</p></li>
				  		   <li class="s_cart"><p class="price">08 June</p>
				  		      <a href="#" class="fa-btn1 btn-2 btn-1e1">Read more</a>
				  		   </li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	    <ul class="product_title">
				  		   <li class="s_head"><img src="images/ipod.png" class="img-responsive" alt=""/></li>
				  		   <li class="s_cart"><p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p></li>
				  		   <div class="clearfix"> </div>
				  		</ul>
				  	  </div>
				  	 </div>		
				</div>
           	  </div>
           	  <div class="col-md-4 bottom-last">
           	  	<a href="#"><div class="bottom-right_grid2">
					<span>
					<div class="blur">
					  <p class="sales">$139.50</p>
					  <p class="ban1_text1">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
					</div>
					<i class="fa fa-microphone-slash icon_2"></i>
					<div class="clearfix"> </div>
				    </span>
				 </div></a>
				 <div class="feature_bg">
					<i class="fa fa-trophy icon_1"></i>
					<div class="clearfix"> </div>
					<div class="service">
					   <h3>Our Story</h3>
					   <p> Eodem modo typi, qui nunc nobis videntur.</p>
					</div>	
			     </div>
			     <div class="feature_desc">
			     	<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
			     </div>
			     <div class="feature_bg">
					<i class="fa fa-thumbs-up icon_1"></i>
					<div class="clearfix"> </div>
					<div class="service">
					   <h3>Articles</h3>
					   <p> Eodem modo typi, qui nunc nobis videntur.</p>
					</div>	
			     </div>
			     <div class="article_grid">
				    <ul class="article_box">
					   <li class="article_img"><img src="images/a1.jpg" class="img-responsive" alt=""/></li>
					   <li class="article_desc">
						  <h5><a href="#">Eodem modo typi</a></h5>
						  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
						  <a href="#" class="link">Read More</a>
						</li>
					    <div class="clearfix"></div>
					 </ul>	
					 <ul class="article_box">
					   <li class="article_img"><img src="images/a2.jpg" class="img-responsive" alt=""/></li>
					   <li class="article_desc">
						  <h5><a href="#">Eodem modo typi</a></h5>
						  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
						  <a href="#" class="link">Read More</a>
						</li>
					    <div class="clearfix"></div>
					 </ul>	
				 </div>
				 <div class="but_article">
			     	<a href="#" class="btnc btn-c btn-1c">View All Services</a>
			     </div>
           	  </div>
           	  <div class="clearfix"></div>
           </div>
           <div class="promo">
           	  <div class="container">
           	  	<h3>Upcoming Events</h3>
           	  	  <div class="event_box">
		            <div class="event">
		              <span class="bold"><i class="fa fa-microphone"></i>New Sound Wave</span>
		            </div>
		            <div class="location">
		              <span class="bold"><i class="fa fa-map-marker"></i>Contrary to </span> / 12 August 2015
		            </div>
		            <div class="ticket">
		              <i class="fa fa-ticket"></i><span class="bold">$125</span> / 0 Available
		            </div>
		            <div class="button-wrap"><a href="#" class="def-button soldout">Sold Out</a></div>
                 </div>
                 <div class="event_box">
		            <div class="event">
		              <span class="bold"><i class="fa fa-microphone"></i>Hammersonic</span>
		            </div>
		            <div class="location">
		              <span class="bold"><i class="fa fa-map-marker"></i>The standard</span> / 20 October 2015
		            </div>
		            <div class="ticket">
		              <i class="fa fa-ticket"></i><span class="bold">$200</span> / 15 Available
		            </div>
		            <div class="button-wrap"><a href="#" class="def-button">Buy Ticket</a></div>
                </div>
                <div class="event_box">
		            <div class="event">
		              <span class="bold"><i class="fa fa-microphone"></i>New Sound Wave</span>
		            </div>
		            <div class="location">
		              <span class="bold"><i class="fa fa-map-marker"></i>Majority have </span> / 22 August 2015
		            </div>
		            <div class="ticket">
		              <i class="fa fa-ticket"></i><span class="bold">$175</span> / 0 Available
		            </div>
		            <div class="button-wrap"><a href="#" class="def-button soldout">Cancelled</a></div>
                 </div>
                 <div class="event_box">
		            <div class="event">
		              <span class="bold"><i class="fa fa-microphone"></i>Hammersonic</span>
		            </div>
		            <div class="location">
		              <span class="bold"><i class="fa fa-map-marker"></i>Internet tend  </span> / 02 October 2015
		            </div>
		            <div class="ticket">
		              <i class="fa fa-ticket"></i><span class="bold">$200</span> / 15 Available
		            </div>
		            <div class="button-wrap"><a href="#" class="def-button">Buy Ticket</a></div>
                 </div>
              </div>
           </div> 
           <div class="footer">
           	 <div class="container">
           	 	<div class="footer-grid">
					<h3>Explore More</h3>
					<ul class="list1">
						  <li><a href="#">Our History</a></li>
						  <li><a href="#">All Albums</a></li>
						  <li><a href="#">Browse Events</a></li>
						  <li><a href="#">Products</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Information</h3>
					<ul class="list1">
						  <li><a href="#">Galleries</a></li>
						  <li><a href="#">Events Archive</a></li>
						  <li><a href="#">Events Albums</a></li>
						  <li><a href="#">Tour Videos</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>My Account</h3>
					<ul class="list1">
						  <li><a href="#">My account</a></li>
						  <li><a href="#">Personal Information</a></li>
						  <li><a href="#">Addresses</a></li>
						  <li><a href="#">Discount</a></li>
				    </ul>
				</div>
				<div class="footer-grid">
					<h3>Follow Us</h3>
					<ul class="social">
					  <li><a href=""><i class="fa fa-facebook"> </i></a></li>
					  <li><a href=""><i class="fa fa-twitter"> </i></a></li>
					  <li><a href=""><i class="fa fa-pinterest"> </i></a></li>
					  <li><a href=""><i class="fa fa-google-plus"> </i></a></li>
					</ul>
				    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
				</div>
				<div class="footer-grid last_grid">
					<h4>Subscribe to our Newsletter</h4>
					<form>
						<input type="text" value="Your Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email Address';}">
						<input type="submit" value="Go">
					</form>
					<h5>Call Team<br>Ipsum available</h5>
					<h6>1.800.258.2578</h6>
				</div>
           	 </div>
           </div> 
           <div class="footer_bottom">
           	<div class="container">
           		<p class="copy">Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
           	</div>
		   </div>   
        </div>
</body>
</html>		